body{background-color:#900C3F;}

h1{	color: blanchedalmond;
	font-family: Arial Rounded MT Bold;
	font-size: 32px;
	text-align: center;
	padding-top: 30px;}

p{color: blanchedalmond;
	font-family: DIN Alternate;
	font-size: 14px;
	text-align: justify;
	line-height: 2.8;
	width: 700px;
	margin-left: 1100px;
	margin-right: auto;
	padding-top: auto;
	position: relative;
	top: 330px;
	left: 410px;}

a{color: blanchedalmond;
	font-family: Arial Rounded MT Bold;
	font-size: 20px;
	text-decoration: none;
	margin: auto;}

a:hover{color: #FF7F50;
	text-decoration: underline;}

ul{list-style-type: none;
	justify-content: center;
	display: flex;
	text-align: center;}

li{display: inline-block;
	list-style-type: none;
	padding: 10px;}

img{margin-right: 1110px;
	margin-left: 600px;
	display: left;}

iframe{width: 700px;
	margin-left: 500px;
	margin-top: 210px;
	display: block;}

canvas{margin-right: 1110px;
	margin-left: 900px;
	display: left;}

.center{display: block;
	margin-left: auto;
	margin-right: auto;
	width: 26%;
}


